/* body */
body {
  font-family: 'Kanit', sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 1.7rem;
  font-weight: 200;
}

/* whitworth navigation bar */
.whit-nav {
  background-color: black;
  padding-left: 3vh;
}

.whit-toggle {
  margin-right: 2vh;
}

button.navbar-toggler:focus{
  box-shadow: 0 0 0 0rem;
}

/* library navigation */
.lib-nav {
  background-color: #961927;
}

.lib-nav img {
  padding-left: 1vh;
}

/* library navigation links */
.lib-nav a {
  color: #E6E6E6;
}

/* when you hover over the library navigation links */
.lib-nav a:hover {
  color:#58A8B9;
}

/* .lib-nav button {
  color: white;
}

.collapse {
  color: black;
} */

/* FOOTER */

/* footer library logo */
.footer-whitworth-name a {
  color: white;
}

footer {
  background-color: #595959;
  font-family: "Kanit", sans-serif;
}

.footer-left {
  padding-bottom: -50%;
}

.fab {
  color: white;
}

.page-container {
  padding: 2vh;
  position: relative;
  /* min-height: 100vh; */
}
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-nav a {
  text-decoration: none;
}


