/* Universal Selector */
* { 
    box-sizing: border-box;
}

/* body */
body {
    font-family: Kanit;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

/* ul css for top nav */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

.logo {
    margin: 0;
}

.whitworth-lib-logo {
   height: 5vh;
   padding-left: 15%;
}

.whitworth-lib-logo img{
    width: 30%;
}
.Whit-Lib-Logo-Name {
    color: #E6E6E6;
    text-align: right;
    padding-right: 48%;
    overflow: hidden;
}

.main-nav {
    margin-top: .4%;
    color: #E6E6E6;
}

.main-nav a{
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
    display:block;
    color: #E6E6E6;
    font-size: .89em;
    
}

.main-nav a:hover {
    color:#58A8B9;
}

.header {
    background-color: #961927;
    padding-top: .5em;
	padding-bottom: .5em;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 0px;
    font-family: "Fira Sans Condensed Light";

}


/* media queries */

@media (min-width: 769px) {
	.header, .main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;

    	.header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
	    }
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/* adding fonts */
@font-face {
    font-family: "Fira Sans Condensed Light";
    src: url(Fira_Sans_Condensed/FiraSansCondensed-Light.ttf) format('truetype');
}