/* Universal Selector */
* { 
    box-sizing: border-box;
}

/* body */
body {
    font-family: Kanit;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

/* ul css for top nav */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

.lib-logo {
    margin: 0;
}

.whitworth-lib-logo {
   height: 9vh;
   padding-left: 15%;
}


.Whit-Lib-Logo-Name {
    color: #E6E6E6;
    text-align: center;
    padding-right: 38%;
    overflow: hidden;
}

.whit-logo img {
    margin: 0;
    height: 5vh;
}

.main-nav {
    margin-top: .4%;
    color: #E6E6E6;
}

.main-nav a{
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
    display:block;
    color: #E6E6E6;
    font-size: .89em;
    
}

.main-nav a:hover {
    color:#58A8B9;
}

.bottom-nav {
    background-color: #961927;
    padding-top: .5em;
	padding-bottom: .5em;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 0px;
    font-family: "Fira Sans Condensed Semibold";

}

.top-nav {
    background-color: black;
    padding-top: .5em;
    margin-left: -15%;
    height: min-content;
}

/* footer css */

footer {
    position: fixed;
    bottom: 0;
}

.footer {
    background-color: #8c8c8c;
    box-sizing: border-box;
    width: 100%;
    /* height: 0%; */
    text-align: left;
    font-family: "Kanit Regular";
    padding: 50px 50px 25px 50px;
    /* margin-top: 40x; */
}

.footer .footer-left, .footer .footer-center, .footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: white;
    font-family: "Fira Sans Condensed Semibold";
    margin: 0;
}

.footer .footer-left img {
    width: 20%;
    padding-left: 5%;
}

.footer .footer-whitworth-name {
    color: white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
	color: #ffffff;
	font-size: 8px;
	width: 38px;
	height: 38px;
	/* border-radius: 20%; */
	text-align: center;
	line-height: 10px;
	/* margin: 10px 15px; */
	vertical-align: middle;
    /* margin-bottom: -60%; */
}

/* .footer .footer-center i.fa-envelope {
    font-size: 12px;
	line-height: 20px;
} */

.footer .footer-center p {
    display:contents;
	color: #ffffff;
	vertical-align: middle;
	/* margin-bottom:-20%; */
}

.footer .footer-center p span {
    display:block;
	font-weight: normal;
	font-size:14px;
	/* line-height:2; */
}

.footer .footer-center p a {
    color:  white;
	text-decoration: none;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-whitworth-about {
    line-height: 20px;
	color:  #E6E6E6;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-whitworth-about span {
    display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-icons{
	margin-top: 25px;
}

.footer .footer-icons a {
    display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	/* background-color:  #33383b; */
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}



/* media queries */

@media (min-width: 769px) {
	.bottom-nav, .main-nav {
		display: flex;
	}
	.bottom-nav {
		flex-direction: column;
		align-items: center;

    	.bottom-nav {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
	    }
	}

}

@media (min-width: 1025px) {
	.bottom-nav {
		flex-direction: row;
		justify-content: space-between;
	}

}

/* adding fonts */
@font-face {
    font-family: "Fira Sans Condensed Light";
    src: url(Fira_Sans_Condensed/FiraSansCondensed-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Fira Sans Condensed Semibold";
    src: url(Fira_Sans_Condensed/FiraSansCondensed-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: "Kanit Regular";
    src: url(Kanit/Kanit-Regular.ttf) format('truetype');
}

/* footer media */

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}